{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        ineligible
      </h1>

      <p>Add text here - why they’re ineligible and what they can do next.</p>

      <p>Read more <a href="udemy-practice.html">about this topic.</a></p>

    </div>
  </div>

{% endblock %}
